* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
SHA256SUMS text eol=lf
*.py text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.npz binary
*.pt binary
*.pdf binary
